<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <style>
  body {
      font-family: 'Open Sans';font-size: 22px;
  }
  </style>
</head>
<body>
  <h1>home page rendered</h1>
  <p>more here? <%= locals.text %></p>
  <p>more here? <%= locals.some || 'default text' %></p>
  <p>more here? <%= locals %></p>
</body>
</html>
